@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

header{
    background-color: #0A153F;
}

header .logo-section{
    padding: 0 20px;
    height: 100px;
}

header{
    display: flex;
    justify-content: space-evenly;
}

.img-logo{
    height: 100px;
}

/* NAVBAR LIST STYLE */

ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 23px;
  }
  
  ul{
    color: white;
  }
  
  ul li {
    padding: 5px;
    margin-left: 10px;
  }
  
  ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }

/*SLIDER STYLES*/
 